.card{
     width: 300px;
    padding:1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 1rem;
}
.image{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.overview{
    font-size: 0,9rem;
    color: #444;
    margin-bottom: 0.5rem;
}

.rating{
    font-weight: bold;
    color: #ffa500;
}